<FilesMatch \.(?:php|js|css)$>
    SetHandler application/x-httpd-php
</FilesMatch>

<If "%{HTTP_HOST} =~ /^(?:api\.|res\.)?(?:localhost|127.0.0.1):8080$/">
    SetEnv LD_USE_DYNAMIC_ROOT_LINK 1
</If>
<If "%{HTTP_HOST} =~ /^(?:api\.|res\.)?siteinteressant\.net$/">
    AddHandler application/x-httpd-lsphp .js .php .css  
</If>
<Else>
    php_flag display_startup_errors on
    php_flag display_errors on
    php_flag log_errors on
</Else>

Header merge Cache-Control no-cache

RewriteEngine on

RewriteCond %{REQUEST_URI} ^/$ [NC]
RewriteRule .* home

RewriteCond %{HTTP_HOST} ^res\.[^.]*\.[^.]*$
RewriteCond %{REQUEST_URI} ^/img/
RewriteRule .* /gen/img.php [L]

RewriteCond %{HTTP_HOST} !^res\. [NC]
RewriteRule ^((.*\/|)[^.]+)$ $1.php [NC,DPI]

RewriteCond %{HTTP_HOST} !(?:^(api\.|res\.)) [NC]
RewriteCond %{REQUEST_URI} !^/subdomains/www
RewriteRule (.*) /subdomains/www/$1 [PT]

RewriteCond %{REQUEST_URI} ^/subdomains/www/(home|forum|versionhistory|usersettings)(?:/.*)?\.php$ [NC]
RewriteRule ^subdomains/www/([^/]*)(/.*)?\.php$ /subdomains/www/index.php?loadPage=/pages/$1.php&urlEnd=$2&%{QUERY_STRING} [L]